*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}
body{
  font-family: 'Poppins', 'sans-serif';
  min-height: 100%;
  width: 100%;
}
.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
  width: 100%;

}

.left-side {
  background-color: #A51A1A;
  padding: 40px;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
   top: 0;
   left: 0;
   bottom: 0;
   position: fixed;
  /* min-height: 100vh; */
} 
h1{
  font-size: 1.5rem;
}


.profile-pic img{
  height: 9rem;
  width: 9rem;
 display: block;
 margin-left: auto;
 margin-right: auto;
 margin-top: 20px;
}
.navbar-links{
  color: white;
  height: 30%;
  margin-top: 30px;
}
.navbar-links ul {
  list-style: none;
  text-decoration: none;
  line-height: 2rem;
}
.navbar-links ul li a{
  font-size: .9rem;
  color: white;
  text-decoration: none;

}


.social-media ul{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: .1rem;
}
.sentence{
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 0px;
}
.social-media{
  padding: 0px;
  margin-top: 3.5rem;
  height: 2rem;

}
.social-media ul li img{
  width: 2rem;
  height: 2rem;
}
.right-side{
  font-size: 1.1rem;
  width: 60%;
  margin-top: 2vh;
  margin-left: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Finished */

.top-part{
  justify-content: center;
  align-items: center;
  width: 100vw;
  text-align: center;
  margin-top: 1rem;
  /* border: 2px solid black;
  border-radius: 10px; */
}
 /* h2{
  width: 20vh;
  border: 2px solid black;
} */

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 2rem;

}
.first-post{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  border: 5px solid black;
  border-radius: 10px;
}
.left-post {
  width: 40%;
}
.blog picture{
  width: 40%;
  position: relative;
}
.second-post {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 60%;
  border: 5px solid black;
  border-radius: 10px;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;

}

.post-list h3{
font-size: 1.3rem;
text-align: center;
}

.post-list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  border: 5px solid black;
  border-radius: 10px;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;

}
.post-list ol{
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;

}
.post-list ol li {
  font-size: 1.1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.post-list ol li a {
  margin-left: .5rem;
}




.down-comment ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  
}
.down-comment ul li {
  margin: 20px;
  text-align: center;
}


img{
  max-width: 100%;
  max-height: 100%;
  display: block
}

h2{
  width: 100vw;
  text-align: center;
}
.post-text {
  margin: 20px;
}

.toggle-button {
  position: absolute;
  top: 2rem; 
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}
.toggle-button .bar {
height: 3px;
width: 100%;
background-color: white;
border-radius: 10px;
}
 @media only screen and (min-width: 1101px) {
.left-side{
  display: flex;

}
.none-display{
  display: none;
}
} 


 @media only screen and (max-width: 1100px) {
.toggle-button{
  display: flex;
}
 .container{
   display: flex;
   flex-direction: column;
 
 }
.right-side h2 {
margin-top: 2rem;
}
.first-post{
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: .8rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.second-post{
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: .8rem;
}
.post-list{
  margin-top: 1rem;
  width: 100%;
  
}
.post-list ol li {
  font-size: .8rem;
  margin: 2rem;

}
/* .post-list ol{
  margin: 2rem;
  font-size: .6rem;
} */

.sentence {
  display: none;
}
h1{
  text-align: center;
  font-size: 20px;
  } 


h3{
  text-align: center;
  font-size: 15px;
}

 .navbar-links{
  width: 40%;
  height: 100%;
  display: none;
  margin-left: 60%;

}
 .toggle{
  display: flex;
}
.navbar-links.active {
   display: flex;
  }

}
.navbar-links ul{
  
flex-direction: column;
}

/* .left-side{
  display: none;
} */
 
.navbar-links li a {
  align-items: center;
  padding: .5rem 1rem;
}

.left-side.none-display{
  display: flex;
  flex-direction: column;
}


@media only screen and (max-width: 670px) {
  .none-display{
    display: flex;
    top: 100px;
    flex-direction: column;
  }
  .container{
    display: flex;
    flex-direction: column;

  }
  .left-side{
    position: unset;
    width: 100%;
  }
  .right-side{
    margin: auto;
  }
}