*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}
body{
  font-family: 'Poppins', 'sans-serif';
  min-height: 100vh;
  min-width: 100vw;
}
.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.left-side {
  background-color: #A51A1A;
  padding: 40px;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  height: 100vh;
} 

.profile-pic img{
  height: 9rem;
  width: 9rem;
 display: block;
 margin-left: auto;
 margin-right: auto;
 margin-top: 20px;
}
.navbar-links{
  color: white;
  height: 30%;
  margin-top: 10px;
}
.navbar-links ul {
  list-style: none;
  text-decoration: none;
  line-height: 2rem;
}
.navbar-links ul li a{
  font-size: .9rem;
  color: white;
  text-decoration: none;

}
h1{
  font-size: 1.5rem;
}

.social-media ul{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: .1rem;
}
.sentence{
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 0px;
}
.social-media{
  padding: 0px;
  margin-top: .001rem;
  height: 2rem;

}
.social-media ul li img{
  width: 2rem;
  height: 2rem;
}
.right-side{
  height: 100vh;
  width: 60%;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.alert{
  height:2rem; 
  width:67%; 
  margin:0; 
  padding:0; 
  background-color: red;
  text-align: center;
  display: none;
}

.create-post ul{
  height: 15vh;
  width: 69%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #A51A1A;
  top: 0;
  left: 31%;
  position: fixed;
  
}
.create-post ul li a {

  color: white;
  margin: 2rem;
  font-size: 1rem;
  
}

form{
  margin-top: 2rem;
  width: 60vw;
}

input[type=text], textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  label{
    font-size: 1rem;
  }
 button{
   position: absolute;
   bottom: 4rem;
   left: 30rem;
   border: 2px solid black;
   width: 7rem;
   height: 2rem;
   cursor: pointer;
 }
 .toggle-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  }
  .toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  }

  @media only screen and ( max-width: 1455px) {
    button{
      left: 31rem;
      bottom: 1.2rem;

    }
  }
  @media only screen and ( max-width: 1300px){
    button{
      left: 31rem;
      bottom: 1rem;
    }

  }
  @media only screen and ( max-width: 1257px){
    .toggle-button{
      display: flex;
    }
    .create-post ul{
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      height: 100%;
  }

  .navbar-links{
    display: none;
  }
  .container{
    display: flex;
    flex-direction: column;
  }
  .left-side{
    width: 100%;
    height: 100%;
  }
button{
  position: unset;
}
  .right-side{
    width: 100%;
  }
  h1, h3{
    display: none;
  }

  
/* .navbar-links{
  width: 100%;
  height: 100%;
  display: none;
  margin-left: 60%;
  justify-content: right;
  } */
  .toggle{
  display: flex;
  }
  .create-post ul.active {
   display: flex;
  }
}